@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family:'idroid';
    src: url('./pacote-projeto-d010/fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

*
{
    margin: 0px;
    padding: 0px;
}

body{
    background: #c5ebd6;
}

h1
{
    font-family: 'Bebas Neue', cursive;
}